<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h3>BOOK STORAGE [|||]</h3>
    <p><a href="/addbookform">Add a new book</a></p>
    <p><a href="/searchbookform">Retrieve or update the information about the book</a></p>
    <p><a href="/calculatetotalprice">Calculate the total price of the book</a></p>
    <p><a href="/listbarcodesbyquantity">List of all barcodes for the books in stock grouped by quantity</a></p>
    <p><a href="/listbarcodesbyquantitysorted">
        List of all barcodes for the books in stock grouped by quantity and sorted by total price
    </a></p>
    <p><h3>---</h3></p>
    <p><a href="/addsamplebooks">Load sample books</a></p>
    <p><a href="/showbooks">List all books</a></p>
</body>
</html>